@font-face {
  font-family: custom;
  src: url(../font/Passage.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 98vw;
  font-family: sans-serif ;
position: relative;  
overflow-x: hidden;
}

section{
  filter: blur(20px);
}

.title {
  font-family: custom;
}


.loader {
  /* display: none; */
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 45%;
  --s: 64px;
  width: var(--s);
  aspect-ratio: 2;
  --_g: #000 90%, #0000;
  background: radial-gradient(farthest-side, var(--_g)) 0 50%/25% 50%,
    radial-gradient(farthest-side at bottom, var(--_g)) 50%
      calc(50% - var(--s) / 16) / 25% 25%,
    radial-gradient(farthest-side at top, var(--_g)) 50%
      calc(50% + var(--s) / 16) / 25% 25%,
    radial-gradient(farthest-side at bottom, var(--_g)) 100%
      calc(50% - var(--s) / 16) / 25% 25%,
    radial-gradient(farthest-side at top, var(--_g)) 100%
      calc(50% + var(--s) / 16) / 25% 25%;
  background-repeat: no-repeat;
  animation: l14 1s infinite;
}
@keyframes l14 {
  25% {
    background-position: 0 50%, 50% 0, 50% 100%, 100% 0, 100% 100%;
  }
  50% {
    background-position: 100% 50%, 0 0, 0 100%, 50% 0, 50% 100%;
  }
  75%,
  100% {
    background-position: 100% 50%, 0 calc(50% - var(--s) / 16),
      0 calc(50% + var(--s) / 16), 50% calc(50% - var(--s) / 16),
      50% calc(50% + var(--s) / 16);
  }
}

.blogCards{
line-break: strict;
max-width: 700px;
}

.des{
  line-break: strict;
}
